body {
 background-image: url("./sfondo.jpg");
 background-size: cover;
}

.scatolagrigia {
   padding: 100px;
   margin:auto;
   background: rgba(0, 0, 0, 0.5);
   height: 60%;
   width: 60%;
   border-radius: 20px;
   margin-top: 30px;
}

.logo {
   display: block;
   width: 250px;
   margin: auto;
}

.scrittalogo {
   color: rgb(0, 200, 0);
   text-align: center;

}

.navigazione {
  padding: 10px 0 10px 0;
   background-color:rgb(0, 200, 0);
   height: 22px;
   text-align: center;
}


.monopattino {
   margin: 25px;
   color: rgb(255, 255, 255);
}

.batteria1 {
   border-radius: 5px;
   height: 30px;
   width: 350px;
   background-color: yellow;
}

.batteria2 {
   border-radius: 5px;
   height: 30px;
   width: 600px;
   background-color: green;
}

.batteria3 {
   border-radius: 5px;
   height: 30px;
   width: 150px;
   background-color: red;
}

.monopattino h2 {
   display: inline;
}
